<template>

    <nav class="nav" style='box-shadow: 0 1px 0 rgba(219,219,219,.3);'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link to="/" class="nav-item">
                Shop
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item pull-right active">
                        <a class="nav-link" href="#">
                            <router-link to='/cart' class="button is-info">
                                <span class="icon">
                                  <i class="fa fa-shopping-cart"></i>
                                </span>
                                <span>Checkout ({{itemsInCart}})</span>
                            </router-link>
                            <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="nav-left">

        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span class="nav-toggle">
	    <span></span>
	    <span></span>
	    <span></span>
	  </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class=" label bg-green" :class="{ 'active-bottom-border': $route.path === '/cart' }">
            <div class="field is-grouped pull-right">
                <p class="control">

                </p>
            </div>
        </div>
        </div>
    </nav>
</template>


<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            itemsInCart() {
                let cart = this.$store.getters.cartProducts;
                return cart.reduce((accum, item) => accum + item.quantity, 0)
            }
        }
    }
</script>
