<template>
	<div>
		<h1 class="title">All Products</h1>
    	<p>{{length}} products</p>
    	<table class="table is-striped">
		    <thead>
		      <tr>
		        <th>#</th>
		        <th>Name</th>
		        <th>Image</th>
		        <th>Price</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr v-for="product in products" track-by="id">
		        <td>{{product.id}}</td>
		        <td>{{product.name}}</td>
		        <td><img width="150px" :src=product.image /></td>
		        <td>${{product.price}}</td>
		        <td><button @click='addToCart(product)' class='btn btn-primary'>Add to cart</button></td>
		      </tr>
		    </tbody>
		</table>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'app',
	created () {
		this.$store.dispatch('fetchProducts')

	},
  computed: mapGetters({
    products: 'allProducts',
    length: 'getNumberOfProducts',
  }),

  methods: mapActions([

      'addToCart'
  ])
}

</script>

<style lang="scss">

</style>
